# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDriveJ2Team1\OneDrive - www.J2.Team (Blog Cong Nghe)\Document\DEV\java\vibe1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
